---
import AboutPage from '../components/AboutPage.jsx';
import '../styles/global.css';
---

<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>About // Void0ps</title>
  </head>
  <body>
    <AboutPage client:only="react" />
  </body>
</html>
